<% provide(:title, "Home") %>

<header>
  <% if false %>
  <div style="text-align: center;">
    <%= link_to "CoB", "https://www.boston.gov/", id: "logo" %>  
    <span style= "margin: 0 5 0 0">
     <%= link_to "home" , root_path, id: "navigation" %>
     <%= link_to "about" , root_path, id: "navigation" %>
     <%= link_to "help" , root_path, id: "navigation" %>
    </span>
    </div>
    <% end %>
</header>
</div>