<% provide(:title, "Home") %>
<div style="width: 500px; margin: 20px auto; padding: 30px; background-color: ##F2F2F2;">
  <h1>Welcome to the transparency app</h1>

  <h2>
    The map below shows locations of each sensor around you
  </h2>
</div>