<% provide(:title, "Home") %>
<header>
  <div style="text-align: center;">
    <%= link_to "CoB", "https://www.boston.gov/", id: "logo" %>  
    <span style= "margin: 0 5 0 0">
     <%= link_to "home" , root_path, id: "navigation" %>
     <%= link_to "about" , root_path, id: "navigation" %>
     <%= link_to "help" , root_path, id: "navigation" %>
    </span>
    </div>
</header>

<div style="width: 800px; margin: 10px auto; padding: 30px; background-color: #E0E0E0">
  <h1> <span style= "text-decoration: underline; text-decoration-color: #FB4D42;">City of Boston</span> transparency app </h1>

  <h2>
    The map below shows locations of each sensor around you
  </h2>
</div>