/*
This file contains style guidelines for CoB. 
*/

/*
primary colors: 
Charles blue;  #091F2F Use our dark blue for typographic headers, and as way to add contrast and weight to lighter pages. Use this color when you need something to look more official.
Optimistic blue; #288BE4 Use this blue for normal links and buttons, and occasionally as a background color. You should also use this color for the overlays on photography. Use this color when you need to inject warmth into a layout (and can be a little less official). Don’t use this color on top of Freedom Trail Red.
Freedom trail red; #FB4D42 A brick-red, inspired by the Freedom Trail. Use this color to draw attention to something on the page, or for important links and buttons. Never use Optimistic Blue on top of Freedom Trail Red (and vise versa). They are too bright and vibrate when used on top of each other.

secondary colors: 
supporting blues; #061622, #0C2639, #45789C, #51ACFF   (in order darkest to lightest)
The darkest of these should be used very rarely – when you need something that resembles black. The next darkest-blue is used for our footer background color, so that it can bump up against our primary dark blue without issue. The desaturated blue can be used when you need text to visually recede. The brightest blue is used as a substitute for our primary bright blue when it needs to appear on a dark background.

supporting greys: #58585B, #D2D2D2, #E0E0E0, #F2F2F2  (in order darkest to lightest)
The darkest grey is used for the body copy, and the lightest grey is used as a background color. The two medium greys can be used for a variety of things, like horizontal rules and miscellaneous borders.

font: 
Montserrat: (headers) Use it small for navigation, links, and buttons, and use it large for primary headers. Always use it in UPPERCASE bold.
Lora: (body) Use it small for body text, or large and italic for quotes or other special secondary text.
*/
/*
body {
    padding-top: 30px;
  }
  */
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.3em;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color:white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header  -- CHANGE TO Montserrat, COLORING charles blue with red underline*/

#logo {   
  text-align: center;
  margin-right: 30px;
  font-size: 1.7em;
  color: #091F2F;
  padding-top: 9px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  text-decoration-color: #FB4D42;
}
#navigation{
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color:#0C2639
}

#logo:hover {
  color: #fafafa;
  text-decoration: none;
}

u {
  text-decoration: underline;
  text-decoration-color: #FB4D42;
}
/*hides all images*/

img {
  display: none;
}

/* footer */

footer {
  margin: 10px auto;
  padding: 10px;
  width: 840px;
  text-align: center;
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #D2D2D2;
  background-color: #0C2639;
}

footer a {
  color: #D2D2D2;
}

footer a:hover {
  color:#F2F2F2;
}

footer small {
  text-align: center;
  font-family: "Lora", sans-serif;
  color: #D2D2D2
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

  /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #091F2F;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #288BE4;
  color: #091F2F;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #288BE4;
  color: white;
}

.header {
  padding: 3px;
  text-align: left;
  background: #091F2F;
  color: white;
  font-size: 10px;

  font-family: "Monserrat", sans-serif;
  text-decoration: underline; 
  text-decoration-color: #FB4D42;
}