<footer class="footer">
  <small>
    This is a City <a href="https://www.boston.gov/">of Boston Project</a>
    by <a href="https://www.brandeis.edu/">students of Brandeis University</a>
  </small>
</footer>