<% if false %>
<footer class="footer">
  <small>
    This is a City <a href="https://www.boston.gov/">of Boston Project</a>
    by <a href="https://www.brandeis.edu/">students of Brandeis University</a>
  </small>
</footer>
<% end %>

<div class="navbar">
  <a href="#home" >Home</a>
  <a href="#info">Info</a>
  <a href="#news">News</a>
  <a href="#feedback">Feedback</a>
</div>